@model NiceNeighbourPharmacy.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDetail.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetail.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
