@model IEnumerable<NiceNeighbourPharmacy.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Orders</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @if (User.IsInRole("Pharmacist"))
    {
        @Html.ActionLink("Send Group Notification Emails", "SendGroupEmail")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectDateTime)
        </th>
        @if (User.IsInRole("Pharmacist"))
        {
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        }
        @*<th>
            @Html.DisplayNameFor(model => model.PharmacistId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectDateTime)
        </td>
        @if (User.IsInRole("Pharmacist")) {
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>}
            @*<td>
                @Html.DisplayFor(modelItem => item.PharmacistId)
            </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @if (User.IsInRole("Pharmacist"))
            {
                @Html.ActionLink("Edit  ", "Edit", new { id = item.Id })

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
