@model NiceNeighbourPharmacy.Models.ConfirmOrderViewModel

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Summary</h2>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<!-- Include Moment.js CDN -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
</script>

<!-- Include Bootstrap DateTimePicker CDN -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/js/bootstrap-datetimepicker.min.js"
        integrity="sha512-jPwanAeILSRxZLeyP1XYBOo67+how4C1Ij54LQSa8xIOP3hKyeWRe24C0scI4QrTeQywKd1meF4Pak/Glv34vA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/css/bootstrap-datetimepicker.min.css"
      integrity="sha512-ipfmbgqfdejR27dWn02UftaAzUfxJ3HR4BDQYuITYSj6ZQfGT1NulP4BOery3w/dT2PYAe3bG5Zm/owm7MuFhA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

@Styles.Render("~/Content/css")


<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Medicine.Name)*@
            Medicine Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Quantity)*@
            Quantity
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerId)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TrolleyItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CustomerId)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CollectDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CollectDateTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local", @value = DateTime.Now.ToString("YYYY-MM-ddTHH:mm") } })*@
                @Html.EditorFor(model => model.CollectDateTime, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datetime" } })
                @Html.ValidationMessageFor(model => model.CollectDateTime, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" /> |
                @Html.ActionLink("Back to Trolley", "Index")
            </div>
        </div>
    </div>
}

<script>
    $('#datetime').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        minDate: new Date(),
        disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 18, 19, 20, 21, 22, 23, 24],
        daysOfWeekDisabled: [0, 6],
        stepping: 15,
    });
</script>
